<div id="<%= dom_id processor %>" class="scaffold_record">
  <p>
    <strong>Brand:</strong>
    <%= processor.brand.name %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= processor.generation.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= processor.name %>
  </p>

  <p>
    <strong>Cores:</strong>
    <%= processor.cores %>
  </p>

</div>
